body {
  .img_logo {
    top: 10%;
    left: 40%;
  }
  .title_article {
    @media (min-width: 576px) {
      font-size: 3em !important;
    }
  }
  .box_logo_text {
    @media (min-width: 576px) {
      position: absolute;
      top: 25%;
      left: 7%;
      text-align: left;
    }
    h1 {
      font-size: 3em;
    }
  }
  .wraper_box {
    height: 3830px;
    @media (min-width: 576px) {
      height: 1530px;
    }
  }
  .img_box {
    padding: 0;
    button {
      bottom: 10%;
    }
    .img_el {
      padding: 0;
    }
  }
}
